[Desktop Entry]
Type=Application
Name=wine-x86_64 (flatpak)
Exec=wine-x86_64.sh %F
MimeType=application/x-ms-dos-executable;
Icon=org.winehq.wine-x86_64
NoDisplay=false
StartupNotify=true
X-Desktop-File-Install-Version=0.26
X-Flatpak-RenamedFrom=wine.desktop;
