[Desktop Entry]
Name=winetricks-x86_64(flatpak)
Comment=Work around problems and install applications under Wine
Comment[pl]=Rozwiązuj problemy i instaluj aplikacje z użyciem Wine
Comment[ru]=Решение проблем и установка программ с помощью Wine
Exec=run.sh winetricks
Terminal=false
Icon=io.github.wine-x86_64-winetricks
Type=Application
Categories=Utility;
X-Desktop-File-Install-Version=0.26
